<div *ngIf="data">
    <header>
        <h1>Converter</h1>
        <p> 1 USD = {{data.rates['UAH']}} UAH</p>
        <p> 1 EUR = {{countCurrency(1,'EUR', 'UAH')}} UAH</p>
    </header>
    <main>
        <app-converter-item [data]="data" [result]="'left'" [converter_data]="left_converter_data"
            (changeConverterDataEvent)="changeLeftConverterData($event)"></app-converter-item>

        <app-converter-item [data]="data" [result]="'right'" [converter_data]="right_converter_data"
            (changeConverterDataEvent)="changeRightConverterData($event)"></app-converter-item>
    </main>
    <!--
    <div *ngFor="let item of data.rates | keyvalue">
        <p>Валюта:{{item.key}} Значення{{item.value}}</p>
    </div>
    -->
</div>

<!--
<div #elseBlock>
    Loading...
</div>
-->